@import "_mixin.scss";
@import "_function.scss";
img:hover{opacity: .8;}
em,i{font-style: normal;}
.headerBottom{
    width:100%;
    height: 38px;
    clear: both;
    background: url(../images/nav_new_line.jpg) #000 repeat-x;
}
.hdBottom{
    height: 38px;
    clear: both;
    width: 100%;
    position: relative;
    .nav{
        width: auto;
        height: 38px;
        float: left;
        li{
            float: left;
            display: inline;
            a{
                position: relative;
                white-space: nowrap;
                display: inline-block;
                line-height: 36px;
                padding: 0 22px;
                height: 38px;
                overflow: visible;
                color: #fff;
                font-size: 14px;
                text-decoration: none;
                text-align: center;
            }
            .shopping:hover{
                 .icon_arrow_down{
                    transform: rotate(180deg);
                    transform-origin: 50% 50%;
                 }
            }
        }
        .home_page{
            padding: 0 40px;
            background: #ed145b;
        }
    }
    .icon_wrap{
        float: right;
        margin-top: 5px;
        height: 33px;
        overflow: hidden;
        li {
            float: left;
            margin-right: 12px;
            width: 30px;
            overflow: hidden;
            a {
                height: 30px;
                display: inline-block;
                span {
                    background: url(http://a3.jmstatic.com/0d4bbfe600f8d38b/z_01new.jpg) no-repeat;
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    vertical-align: -9px;
                    float: left;
                    margin-right: 3px;
                }
                .th{
                    background: url(http://a1.jmstatic.com/79ab7f2d9d35ac68/z03.jpg) no-repeat;
                }
                .td{
                    background: url(http://a5.jmstatic.com/901163e36281c86a/z02.jpg) no-repeat;
                }
                b {
                    font-weight: 400;
                    float: left;
                    margin-top: 7px;
                    color: #fff;
                }
            }
        }
    }
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    height:350px;
    .swiper-wrapper {
        position: relative;
        width: 100%;
        height: 350px;
        z-index: 1;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        -o-transition-property: transform;
        transition-property: transform;
        transition-property: transform,-webkit-transform;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;    
        .swiper-slide {
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            height: 100%;
            position: relative;
            -webkit-transition-property: -webkit-transform;
            transition-property: -webkit-transform;
            -o-transition-property: transform;
            transition-property: transform;
            transition-property: transform,-webkit-transform;
        }
        .one-slide{
            background: url(../images/banner1.jpg) no-repeat;
        }
        .two-slide{
            background: url(../images/banner2.jpg) no-repeat;
        }
        .three-slide{
            background: url(../images/banner3.jpg) no-repeat;
        }
        .four-slide{
            background: url(../images/banner4.jpg) no-repeat;
        }
        .five-slide{
            background: url(../images/banner5.jpg) no-repeat;
        }
    }
    

}
.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.today_tab{
    position: relative;
    margin-top: 20px;
    .tab_menu{
        width: 464px;
        margin: 0 auto;
        border: 1px solid #666;
        span {
            float: left;
            height: 44px;
            width: 232px;
            line-height: 44px;
            font-size: 22px;
            text-align: center;
            color: #333;
            background: #f7f7f7;
            position: relative;
            cursor: pointer;
            em{
                position: absolute;
                right:5px;
                top:0;
                font-style: normal;
                width: 23px;
                height: 23px;
                font-size: 16px;
                display: block;
                border-radius: 50%;
                background: #ed145b;
                text-align: center;
                line-height: 23px;
                margin: 9px 20px 0 10px;
                cursor: pointer;
                color: #fff;
            }
        }
        .tab_menu_active{
            background: #666;
            color: #e6e6e6;
        }
        .tab_menu_active::after{
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px;
            left: 50%;
            position: absolute;
            margin-left: -11px;
            border-color: #666 transparent transparent transparent;
        }
    }
    .tab_box{
        .goods_top{
            width: 1090px;
            margin: 20px auto 0;
            overflow: hidden;
            .goods_top_list{
                width: 1114px;
                    a {
                    display: inline-block;
                    margin-right: 20px;
                    margin-bottom: 20px;
                    width: 535px;
                    height: 212px;
                    float: left;
                    img {
                        width: 535px;
                        height: 212px;
                    }
                }
            }
        }
    }
}
.floor_item_title{
    width: 100%;
    height: 28px;
    text-indent: -9999px;
    overflow: hidden;
    margin: 20px 0;
    background: url(../images/title1.jpg) center top no-repeat;
}
.today_tab_content{
    height: 350px;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    .today_tab_link {
        display: block;
        width: 100%;
        height: 340px;
        overflow: hidden;
        position: relative;
        img {
            position: relative;
            margin-left: -185px;
            width: 1275px;
            height: 340px;
        }
    }
    .tags_list{
        position: absolute;
        left: 0;
        top: 0;
        background: url(../images/new_haitao_icon.jpg) no-repeat;
    }
}
.today_top_1, .today_top_2, .today_top_3 {
    display: block;
    top: 55px;
    left: 55px;
    position: absolute;
    width: 120px;
    height: 62px;
    background: url(../images/top.png) no-repeat;
}
.tags_list {
    width: 40px;
    height: 40px;
    float: left;
    overflow: hidden;
    text-indent: -99em;
    display: inline-block;
    z-index: 1;
    background: url(../images/home_all_icon.png) no-repeat;
}
.produce_detail{
    position: absolute;
    height: 332px;
    width: 382px;
    padding: 0 40px;
    background: #fff;
    top: 18px;
    right: 18px;
    box-shadow: 0 1px 4px #c5c5c5;
    zoom: 1;
    line-height: 1;
        .the_time{
            color: #fff;
            font-weight: 400;
            text-indent: 0;
            font-size: 14px;
            margin-top: -1px;
            text-align: center;
            .end_time{
                color: #fff;
                font-weight: 400;
                text-indent: 0;
                font-size: 14px;
                background: #333;
                height: 26px;
                line-height: 26px;
                margin-top: -1px;
                text-align: center;
                display: inline-block;
                min-width: 174px;
                _width: 190px;
                padding: 0 10px;
                display: inline-block;
                .end_text{
                    margin-right: 3px;
                }
                .today_time{
                    font-weight:600;
                }
            }
        }
        .product_title {
            color: #767676;
            line-height: 24px;
            height: 142px;
            display: block;
            font-size: 16px;
            margin-top: 36px;
            overflow: hidden;
            em{
                color: #ed145b;
                font-style: normal;
            }
        }
        .product_price{
            margin-top: 30px;
            font-family: arial;
            height: 45px;
            position: relative;
            .now_price{
                font-size: 34px;
                color: #000;
                float: left;
                em{
                    font-style: normal;
                }
            }
            .old_price{
                position: absolute;
                bottom:14px;
                left:100px;
                float: left;
                margin-left: 5px;
                color: #727272;
                text-decoration: line-through;
            }
        }
        .goto_cart_wrap {
            height: 36px;
            font-size: 16px;
            float: right;
            width: 106px;
        }
        .goto_btn {
            display: inline-block;
            height: 36px;
            width: 106px;
            line-height: 37px;
            color: #fff;
            background: #e81a62;
            text-align: center;
            font-size: 14px;
        }
        .tag_a{
            display: inline-block;
            float: left;
            margin-right: 3px;
            margin-left: -8px;
            img {
                width: 134px;
                height: 45px;
            }
        }
        .tag_like{
            padding-top: 10px;
            font-family: '\5FAE\8F6F\96C5\9ED1';
            float: right;
            em {
                font-size: 18px;
                color: #b9966a;
                vertical-align: middle;
                font-style: normal;
            }
        }
    }
.today_top_2{
    background-position: 0 -144px;
}
.today_top_3{
    background-position: 0 -72px;
}
.floor_deal_title{
    height: 25px;
    background: url(../images/main.png) #f7f7f7 no-repeat;
    width: 1090px;
    position: relative;
    margin-top: 20px;
    border-bottom: 2px solid #000;
}
.today_new_deal .floor_deal_title{
    background-position: 0 -203px;
}
.today_new_deal{
    .today_deal_title{
        border-bottom: 2px solid #000;
        position: relative;
        
        .today_deal_tips{
            position: absolute;
            bottom: 6px;
            right: 10px;
            padding-left: 20px;
            color: #ed135d;
            background: url(../images/clock.jpg) left 4px no-repeat;
            .deal_box{
                float: left;
                display: inline;
                background: #fff;
                margin-right: 20px;
                width: 330px;
                box-shadow: 2px 2px 4px #e3e3e3;
                padding: 10px;
                margin-bottom: 20px;
                height: 450px;
                position: relative;
                .img_box_href{
                    display: block;
                    overflow: hidden;
                    position: relative;
                    background: url(../images/loading.gif) no-repeat 150px center;
                }
                img {
                    display: block;
                }
            }
        }
    }
    .deal_list{
        width: 1110px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: -20px;
        // _overflow: hidden;
    }
}
.deal_tags{
    position: absolute;
    left: 0;
    top: 0;
}
.teg_list {
    width: 40px;
    height: 40px;
    float: left;
    overflow: hidden;
    text-indent: -99em;
    display: inline-block;
    z-index: 1;
    background: url(../images/home_all_icon.png) no-repeat;
}
.fangwei{
    background-position: -82px 0;
}
.commit_new{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 30px;
    overflow: hidden;
    background: rgba(0,0,0,.6);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#BF000000', EndColorStr='#BF000000');
    // display: none;
    .commit_new_box {
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        color: #fff;
    }
    .link {
        float: right;
        font-weight: 400;
    }
    .service_rating {
        float: left;
        display: inline;
        .rating_num {
            float: left;
            line-height: 30px;
        }
    }
    
}
.all_cart_wrap a:hover{
    color: #fff;
}
.commit_new .rating, .commit_new .rating .value {
    height: 15px;
    background: url(../images/rating_small.png) repeat-x;
    overflow: hidden;
}
.commit_new .rating {
    background-position: 0 -39px;
    margin: 7px 0 0 5px;
    float: left;
    width: 80px;
}
.commit_new .rating .value{
    background-position: 0 -54px;
}
.deal_box{
    float: left;
    display: inline;
    background: #fff;
    margin-right: 20px;
    width: 330px;
    box-shadow: 2px 2px 4px #e3e3e3;
    padding: 10px;
    margin-bottom: 20px;
    height: 450px;
    position: relative;
    .img_box,.img_box_href{
        display: block;
        width: 330px;
        height: 345px; 
        overflow: hidden;
        img{
            width:350px;
            height:350px;
        }
    }
    
}
.deal_detail{
    margin-top: 10px;
    .title {
        font-size: 14px;
        line-height: 24px;
        color: #333;
        height: 48px;
        font-weight: 400;
        overflow: hidden;
    }
    .pink {
        color: #ed145b;
        font-weight: 700;
    }
    .in_box{
        margin-top: 8px;
        height: 48px;
        .price_box{
            float: left;
            height: 45px;
            line-height: 45px;
        }
        .timer_box{
            width: 210px;
            float: right;
            line-height: 45px;
            overflow: hidden;
            height: 45px;
        }
    }
}
.price_box {
    .pnum, em {
        font-size: 22px;
        color: #ed145b;
        font-family: Arial,Helvetica,sans-serif;
        float: left;
        display: inline;
    }
    .mnum {
        text-decoration: line-through;
        color: #929292;
        padding-left: 5px;
        float: left;
        font-family: Arial;
        margin-top: 3px;
        display: inline;
        font-size: 12px;
    }
}
.price_box em {
    font-size: 18px;
}
.timer_box{
    width: 210px;
    float: right;
    line-height: 45px;
    overflow: hidden;
    height: 45px;
    .num_box,.time_box{
        float: right;
        margin-right: 4px;
        font-family: arial;
        font-size: 14px;
        font-weight: 400;
        color:#939292;
    }
    .num_box{
        font-size:12px;
        .buy_num {
            color: #b9966a;
            font-family: arial;
            font-size: 14px;
            font-weight: 400;
        }
    }
    .time_box{
        color:#333;
        font-size: 12px;
        em{
            color:#999;
            padding:0 2px;
        }
    }
}
.add_cart_box {
    position: absolute;
    top: 10px;
    right: 10px;
    // display: none;
    // z-index: 1;
}
 .add_cart, .deal_tips, .cate_look {
    display: block;
    width: 79px;
    height: 26px;
    color: #fff;
    background: #ed155b;
    line-height: 26px;
    text-align: center;
}
.floor_head{
    background: url(../images/main.png) #f7f7f7 no-repeat;
    height: 26px;
    width: 1090px;
    position: relative;
    margin: 20px 0;
    border-bottom: 2px solid #000;
    background-position: 0 0;
}
.floor-view-more {
    position: absolute;
    right: 0;
    display: block;
    background: url(../images/moreicon.png) no-repeat left center;
    color: #333;
    width: 92px;
    text-align: right;
    top: 8px;
    font-family: '\5B8B\4F53';
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    right: 13px;
}
.sc_content{
    height: 440px;
    .sc1{
        padding: 10px;
        width: 258px;
        height: 420px;
        background: #fff;
        float:left;
    }
    .sc2{
        width: 780px;
        height: 440px;
        background: #fff;
        padding-left: 10px;
        float: right;
    }  
}
.ul_content{
    a{
        display: block;
        position: relative;
        width: 380px;
        height: 205px;
        color: #333;
    }
    li{
        padding: 10px 10px 0 0;
        width: 380px;
        height: 205px;
        float: left;
        display: inline;
        position: relative;
    }
}
.sc-item-info{
    position: absolute;
    top: 70px;
    right: 20px;
    text-align: center;
    width: 150px;
    .tit{
        width:150px;
        font-size: 14px;
        font-weight:700;
        height:20px;
        overflow: hidden;
        white-space: nowrap;
    }
    .stit{
        margin-top:5px;
        max-height: 40px;
        overflow: hidden;
        line-height: 20px;
    }
    .sale{
        margin-top:18px;
        line-height: 1px;
        em{
            color:#ed145b;
            font-size:16px;
        }
    }
    .time_left{
        margin-top:15px;
        background: url(../images/timeion.png) no-repeat 5px center;
    }
}